*{
    margin: 0;
    padding: 0;
    body{
        font-size: 100%;
        .container{
            display: flex;
            justify-content: space;
            align-items: center;
            flex-direction: column;
            .home_icon{
                display: none;
                cursor: pointer;
            }
            .heading{
                font-family: 'Aeonik';
                font-style: normal;
                font-size: 3.5em;
                margin-bottom: 150px;
                
            }
            .comparision , .dandc{
                width: 90%;
                // background: rgba($color: red, $alpha: 0.2);
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                margin-bottom: 100px;
                .buttons{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width:  200px;
                    height: 150px;        
                    
                    font-family: 'Aeonik';
                    font-style: normal;
                    font-size: 1.5em;       
                    word-break: break-all;
                    
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;            
                    cursor: pointer;
                    margin-bottom: 2%;
                }
                .buttons:hover{
                    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;                    
                }
                #bubble{
                    border: 1px solid blue;
                }
                #selection{
                    border: 1px solid red;
                }
                #insertion{
                    border: 1px solid greenyellow;
                }
                #shell{
                    border: 1px solid black;
                }
                #quick{
                    border: 1px solid orange;
                }
                #merge{
                    border: 1px solid purple;
                }
            }
            .visualizer_cont{
                position: relative;
                display: none;
                height: 100%;
                width: 100%;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                // background: rgba($color: black, $alpha: 0.2);
                .visualizer_screen{
                    position: relative;
                    display: flex;
                    height: 58vh;
                    width:  58vw;
                    border: 2px solid black;
                    .bar_list{
                        // background: rgba($color: green, $alpha: 0.2);
                        width: 100%;
                        height: 100%;
                        position: relative;
                        display: flex;
                        justify-content: space-evenly;
                        align-items: baseline;                
                        overflow: hidden;        
                    }

                }
                .button_cont{
                    position: relative;
                    width: 58vw;
                    height: 100%;
                    // background: rgba($color: black, $alpha: 0.2);
                    .cont_sliders{
                        position: relative;
                        // background: rgba($color: pink, $alpha: 0.2);
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        flex-wrap: wrap;
                        // margin-bottom: 30px;
                        .speed_slider , .size_slider ,.slider_randomize_btn{
                            position: relative;
                            width: 200px;
                            background-color: #fff;
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
                            flex-direction: column;


                            font-family: "Aeonik", sans-serif;
                            font-size: 1em;

                            align-items: center;
                            background-color: rgba(240, 240, 240, 0.26);
                            border: 1px solid grey;
                            border-radius: 16px;
                            box-sizing: border-box;
                            color: #000000;
                            cursor: pointer;
                            display: flex;
                            justify-content: center;
                            padding: 14px 22px;
                            text-decoration: none;
                            transition: all .2s;
                            user-select: none;
                            -webkit-user-select: none;
                            touch-action: manipulation;                            
                            
                            h1{
                                width: 80%;
                                position: relative;
                                font-family: "Aeonik",sans-serif;
                                font-size: 1.2rem;
                                font-weight: 700;
                                text-align: start;
                                margin-bottom: 10px;
                            }
                            .slider {
                                -webkit-appearance: none;
                                width: 100%;
                                height: 7px;
                                border-radius: 5px;
                                background: #d3d3d3;
                                outline: none;
                                opacity: 0.7;
                                -webkit-transition: .2s;
                                transition: opacity .2s;
                              }
                              
                              .slider:hover {
                                opacity: 1;
                              }
                              
                              .slider::-webkit-slider-thumb {
                                -webkit-appearance: none;
                                appearance: none;
                                width:  20px;
                                height: 20px;
                                border-radius: 50%;
                                background: blue;
                                cursor: pointer;
                              }
                              
                              .slider::-moz-range-thumb {
                                width:  20px;
                                height: 20px;
                                border-radius: 50%;
                                background: #04AA6D;
                                cursor: pointer;
                              }                            

                        }
     
                    
                        .slider_randomize_btn{
                            margin-top: 20px;
                            font-family: "Aeonik",sans-serif;
                            font-size: 1.2rem;
                            font-weight: 700;
                            text-align: start;
                            margin-bottom: 40px;                            
                        }
                    
                    }
                    .cont_buttons{
                        position: relative;
                        width: 100%;
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        flex-wrap: wrap;                        
                        // background: rgba($color: yellow, $alpha: 0.2);
                        .cont_button_group{
                        width: 200px;
                          align-items: center;
                          background-color: #fff;
                          padding:1rem 0.4rem;
                          border-radius: 12px;
                          box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
                          box-sizing: border-box;
                          color: #121212;
                          cursor: pointer;
                          display: inline-flex;
                        //   flex: 1 1 auto;
                          font-family: "Aeonik",sans-serif;
                          font-size: 1.2rem;
                          font-weight: 700;
                          justify-content: center;
                          outline: none;
                          text-align: center;
                          text-decoration: none;
                          transition: box-shadow .2s,-webkit-box-shadow .2s;
                          white-space: nowrap;
                          border: 0;
                          user-select: none;
                          -webkit-user-select: none;
                          touch-action: manipulation;
                        }
                        
                        .cont_button_group:hover {
                          box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
                        }                
                    }
                    
                }
            }
        }   
    }
}
@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
    body{
        font-size: 55%;
    }
}
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
    body{
        font-size: 55%;
    }
}
@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
    body{
        font-size: 55%;
    }
}
