@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
}
* body {
  font-size: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
* body .game_start_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100vh;
  flex-direction: row;
}
* body .game_start_container .extra_cont {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* CSS */
}
* body .game_start_container .extra_cont .bg_heading {
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 5em;
  font-weight: 300;
  width: auto;
  height: auto;
  padding-left: 50px;
  margin-bottom: 50px;
}
* body .game_start_container .extra_cont .sm_info {
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 1.8em;
  font-weight: 500;
  color: #4a39ef;
  margin-bottom: 50px;
  margin-left: 50px;
}
* body .game_start_container .extra_cont .button {
  margin-left: 50px;
  width: 40%;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: #4a39ef;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset, rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
  font-size: 1.4em;
  height: 44px;
  line-height: 1.15;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
* body .game_start_container .extra_cont .button img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
* body .game_start_container .extra_cont .button:disabled {
  cursor: default;
}
* body .game_start_container .extra_cont .button:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset, rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0, rgba(50, 151, 211, 0.3) 0 0 0 4px;
}
* body .game_start_container .grid_cont {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
* body .game_start_container .grid_cont .boundry {
  position: relative;
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
* body .game_start_container .grid_cont .boundry .main_grid_cont {
  position: relative;
  width: 80%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(31, 1fr);
  grid-template-rows: repeat(21, 1fr);
}
* body .game_start_container .grid_cont .boundry .main_grid_cont .cell {
  position: relative;
  width: 100%;
}
* body .game_start_container .grid_cont .boundry .main_grid_cont .cell .img_cell {
  width: 32px;
  height: 32px;
}
* body .game_start_container .grid_cont .boundry .main_grid_cont .fill {
  background: black;
}
* body .game_start_container .grid_cont .boundry .thor {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
}
* body .game_start_container .grid_cont .boundry .thanos {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 0;
  right: 0;
}
* body .game_start_container .grid_cont .boundry .blast {
  position: absolute;
  display: none;
  width: 100px;
  height: 100px;
  bottom: 0;
  right: 0;
}

@media only screen and (max-width: 1200px) {
  body {
    font-size: 75%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
  }
  body .game_start_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
  }
  body .game_start_container .extra_cont {
    position: relative;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* CSS */
  }
  body .game_start_container .extra_cont .bg_heading {
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: "Roboto", sans-serif;
    font-size: 5em;
    font-weight: 300;
    width: auto;
    height: auto;
    padding-left: 50px;
    margin-bottom: 50px;
  }
  body .game_start_container .extra_cont .sm_info {
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: "Roboto", sans-serif;
    font-size: 1.8em;
    font-weight: 500;
    color: #4a39ef;
    margin-bottom: 50px;
    margin-left: 50px;
  }
  body .game_start_container .extra_cont .button {
    margin-left: 50px;
    width: 40%;
    -webkit-appearance: button;
       -moz-appearance: button;
            appearance: button;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    background-color: #4a39ef;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset, rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
    font-size: 1.4em;
    height: 44px;
    line-height: 1.15;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all 0.2s, box-shadow 0.08s ease-in;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .game_start_container .extra_cont .button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  body .game_start_container .extra_cont .button:disabled {
    cursor: default;
  }
  body .game_start_container .extra_cont .button:focus {
    box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset, rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0, rgba(50, 151, 211, 0.3) 0 0 0 4px;
  }
  body .game_start_container .grid_cont {
    position: relative;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .game_start_container .grid_cont .boundry {
    position: relative;
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .game_start_container .grid_cont .boundry .main_grid_cont {
    position: relative;
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(31, 1fr);
    grid-template-rows: repeat(21, 1fr);
  }
  body .game_start_container .grid_cont .boundry .main_grid_cont .cell {
    position: relative;
    width: 100%;
  }
  body .game_start_container .grid_cont .boundry .main_grid_cont .cell .img_cell {
    width: 32px;
    height: 32px;
  }
  body .game_start_container .grid_cont .boundry .main_grid_cont .fill {
    background: black;
  }
  body .game_start_container .grid_cont .boundry .thor {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
  }
  body .game_start_container .grid_cont .boundry .thanos {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 0;
    right: 0;
  }
  body .game_start_container .grid_cont .boundry .blast {
    position: absolute;
    display: none;
    width: 100px;
    height: 100px;
    bottom: 0;
    right: 0;
  }
}
@media only screen and (max-width: 1000px) {
  body {
    font-size: 75%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
  }
  body .game_start_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
  }
  body .game_start_container .extra_cont {
    position: relative;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* CSS */
  }
  body .game_start_container .extra_cont .bg_heading {
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: "Roboto", sans-serif;
    font-size: 5em;
    font-weight: 300;
    width: auto;
    height: auto;
    padding-left: 50px;
    margin-bottom: 50px;
  }
  body .game_start_container .extra_cont .sm_info {
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: "Roboto", sans-serif;
    font-size: 1.8em;
    font-weight: 500;
    color: #4a39ef;
    margin-bottom: 50px;
    margin-left: 50px;
  }
  body .game_start_container .extra_cont .button {
    margin-left: 50px;
    width: 40%;
    -webkit-appearance: button;
       -moz-appearance: button;
            appearance: button;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    background-color: #4a39ef;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset, rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
    font-size: 1.4em;
    height: 44px;
    line-height: 1.15;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all 0.2s, box-shadow 0.08s ease-in;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .game_start_container .extra_cont .button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  body .game_start_container .extra_cont .button:disabled {
    cursor: default;
  }
  body .game_start_container .extra_cont .button:focus {
    box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset, rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0, rgba(50, 151, 211, 0.3) 0 0 0 4px;
  }
  body .game_start_container .grid_cont {
    position: relative;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .game_start_container .grid_cont .boundry {
    position: relative;
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .game_start_container .grid_cont .boundry .main_grid_cont {
    position: relative;
    width: 90%;
    height: 65%;
    display: grid;
    grid-template-columns: repeat(31, 1fr);
    grid-template-rows: repeat(21, 1fr);
  }
  body .game_start_container .grid_cont .boundry .main_grid_cont .cell {
    position: relative;
    width: 100%;
  }
  body .game_start_container .grid_cont .boundry .main_grid_cont .cell .img_cell {
    width: 32px;
    height: 32px;
  }
  body .game_start_container .grid_cont .boundry .main_grid_cont .fill {
    background: black;
  }
  body .game_start_container .grid_cont .boundry .thor {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
  }
  body .game_start_container .grid_cont .boundry .thanos {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 0;
    right: 0;
  }
  body .game_start_container .grid_cont .boundry .blast {
    position: absolute;
    display: none;
    width: 100px;
    height: 100px;
    bottom: 0;
    right: 0;
  }
}
@media only screen and (max-width: 800px) {
  body {
    overflow: scroll;
    font-size: 65%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .game_start_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  body .game_start_container .extra_cont {
    order: 0;
    position: relative;
    top: -10px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* CSS */
  }
  body .game_start_container .extra_cont .bg_heading {
    position: relative;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: "Roboto", sans-serif;
    font-size: 5em;
    font-weight: 300;
    width: auto;
    height: auto;
    text-align: center;
    margin-left: 0;
  }
  body .game_start_container .extra_cont .sm_info {
    width: 100%;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: "Roboto", sans-serif;
    font-size: 1.8em;
    font-weight: 500;
    text-align: center;
    color: #4a39ef;
  }
  body .game_start_container .extra_cont .button {
    width: 60%;
    -webkit-appearance: button;
       -moz-appearance: button;
            appearance: button;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    background-color: #4a39ef;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset, rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
    font-size: 1.4em;
    height: 44px;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all 0.2s, box-shadow 0.08s ease-in;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .game_start_container .extra_cont .button img {
    width: 15px;
    height: 15px;
  }
  body .game_start_container .extra_cont .button:disabled {
    cursor: default;
  }
  body .game_start_container .extra_cont .button:focus {
    box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset, rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0, rgba(50, 151, 211, 0.3) 0 0 0 4px;
  }
  body .game_start_container .grid_cont {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .game_start_container .grid_cont .boundry {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .game_start_container .grid_cont .boundry .main_grid_cont {
    position: relative;
    width: 90%;
    height: 65%;
    display: grid;
    grid-template-columns: repeat(31, 1fr);
    grid-template-rows: repeat(21, 1fr);
  }
  body .game_start_container .grid_cont .boundry .main_grid_cont .cell {
    position: relative;
    width: 100%;
  }
  body .game_start_container .grid_cont .boundry .main_grid_cont .cell .img_cell {
    width: 32px;
    height: 32px;
  }
  body .game_start_container .grid_cont .boundry .main_grid_cont .fill {
    background: black;
  }
  body .game_start_container .grid_cont .boundry .thor {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
  }
  body .game_start_container .grid_cont .boundry .thanos {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 0;
    right: 0;
  }
  body .game_start_container .grid_cont .boundry .blast {
    position: absolute;
    display: none;
    width: 100px;
    height: 100px;
    bottom: 0;
    right: 0;
  }
}
@media only screen and (max-width: 600px) {
  body {
    overflow: scroll;
    font-size: 65%;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .game_start_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  body .game_start_container .extra_cont {
    order: 0;
    position: relative;
    top: -10px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* CSS */
  }
  body .game_start_container .extra_cont .bg_heading {
    width: 100%;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: "Roboto", sans-serif;
    font-size: 5em;
    font-weight: 300;
    width: auto;
    height: auto;
    text-align: center;
  }
  body .game_start_container .extra_cont .sm_info {
    width: 100%;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: "Roboto", sans-serif;
    font-size: 1.8em;
    font-weight: 500;
    text-align: center;
    color: #4a39ef;
  }
  body .game_start_container .extra_cont .button {
    width: 60%;
    -webkit-appearance: button;
       -moz-appearance: button;
            appearance: button;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    background-color: #4a39ef;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset, rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
    font-size: 1.4em;
    height: 44px;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all 0.2s, box-shadow 0.08s ease-in;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .game_start_container .extra_cont .button img {
    width: 15px;
    height: 15px;
  }
  body .game_start_container .extra_cont .button:disabled {
    cursor: default;
  }
  body .game_start_container .extra_cont .button:focus {
    box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset, rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0, rgba(50, 151, 211, 0.3) 0 0 0 4px;
  }
  body .game_start_container .grid_cont {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .game_start_container .grid_cont .boundry {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .game_start_container .grid_cont .boundry .main_grid_cont {
    position: relative;
    width: 90%;
    height: 65%;
    display: grid;
    grid-template-columns: repeat(31, 1fr);
    grid-template-rows: repeat(21, 1fr);
  }
  body .game_start_container .grid_cont .boundry .main_grid_cont .cell {
    position: relative;
    width: 100%;
  }
  body .game_start_container .grid_cont .boundry .main_grid_cont .cell .img_cell {
    width: 32px;
    height: 32px;
  }
  body .game_start_container .grid_cont .boundry .main_grid_cont .fill {
    background: black;
  }
  body .game_start_container .grid_cont .boundry .thor {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
  }
  body .game_start_container .grid_cont .boundry .thanos {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 0;
    right: 0;
  }
  body .game_start_container .grid_cont .boundry .blast {
    position: absolute;
    display: none;
    width: 100px;
    height: 100px;
    bottom: 0;
    right: 0;
  }
}
@media only screen and (max-width: 400px) {
  body {
    font-size: 45%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .game_start_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  body .game_start_container .extra_cont {
    order: 0;
    position: relative;
    margin-top: 110px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    /* CSS */
  }
  body .game_start_container .extra_cont .bg_heading {
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: "Roboto", sans-serif;
    font-size: 5em;
    font-weight: 300;
    width: auto;
    height: auto;
  }
  body .game_start_container .extra_cont .sm_info {
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: "Roboto", sans-serif;
    font-size: 2em;
    font-weight: 500;
    color: #4a39ef;
  }
  body .game_start_container .extra_cont .button {
    width: 60%;
    -webkit-appearance: button;
       -moz-appearance: button;
            appearance: button;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    background-color: #4a39ef;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset, rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
    font-size: 1.4em;
    height: 44px;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all 0.2s, box-shadow 0.08s ease-in;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .game_start_container .extra_cont .button img {
    width: 15px;
    height: 15px;
  }
  body .game_start_container .extra_cont .button:disabled {
    cursor: default;
  }
  body .game_start_container .extra_cont .button:focus {
    box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset, rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0, rgba(50, 151, 211, 0.3) 0 0 0 4px;
  }
  body .game_start_container .grid_cont {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .game_start_container .grid_cont .boundry {
    position: relative;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .game_start_container .grid_cont .boundry .main_grid_cont {
    position: relative;
    width: 90%;
    height: 65%;
    display: grid;
    grid-template-columns: repeat(31, 1fr);
    grid-template-rows: repeat(21, 1fr);
  }
  body .game_start_container .grid_cont .boundry .main_grid_cont .cell {
    position: relative;
    width: 100%;
  }
  body .game_start_container .grid_cont .boundry .main_grid_cont .cell .img_cell {
    width: 32px;
    height: 32px;
  }
  body .game_start_container .grid_cont .boundry .main_grid_cont .fill {
    background: black;
  }
  body .game_start_container .grid_cont .boundry .thor {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 0;
    left: 0;
  }
  body .game_start_container .grid_cont .boundry .thanos {
    position: absolute;
    width: 70px;
    height: 70px;
    bottom: 0;
    right: 0;
  }
  body .game_start_container .grid_cont .boundry .blast {
    position: absolute;
    display: none;
    width: 100px;
    height: 100px;
    bottom: 0;
    right: 0;
  }
}
@media only screen and (max-width: 300px) {
  body {
    font-size: 45%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .game_start_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  body .game_start_container .extra_cont {
    order: 0;
    position: relative;
    margin-top: 110px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    /* CSS */
  }
  body .game_start_container .extra_cont .bg_heading {
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: "Roboto", sans-serif;
    font-size: 5em;
    font-weight: 300;
    width: auto;
    height: auto;
  }
  body .game_start_container .extra_cont .sm_info {
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: "Roboto", sans-serif;
    font-size: 2em;
    font-weight: 500;
    color: #4a39ef;
  }
  body .game_start_container .extra_cont .button {
    width: 60%;
    -webkit-appearance: button;
       -moz-appearance: button;
            appearance: button;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    background-color: #4a39ef;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset, rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
    font-size: 1.4em;
    height: 44px;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all 0.2s, box-shadow 0.08s ease-in;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .game_start_container .extra_cont .button img {
    width: 15px;
    height: 15px;
  }
  body .game_start_container .extra_cont .button:disabled {
    cursor: default;
  }
  body .game_start_container .extra_cont .button:focus {
    box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset, rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0, rgba(50, 151, 211, 0.3) 0 0 0 4px;
  }
  body .game_start_container .grid_cont {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .game_start_container .grid_cont .boundry {
    position: relative;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .game_start_container .grid_cont .boundry .main_grid_cont {
    position: relative;
    width: 90%;
    height: 65%;
    display: grid;
    grid-template-columns: repeat(31, 1fr);
    grid-template-rows: repeat(21, 1fr);
  }
  body .game_start_container .grid_cont .boundry .main_grid_cont .cell {
    position: relative;
    width: 100%;
  }
  body .game_start_container .grid_cont .boundry .main_grid_cont .cell .img_cell {
    width: 32px;
    height: 32px;
  }
  body .game_start_container .grid_cont .boundry .main_grid_cont .fill {
    background: black;
  }
  body .game_start_container .grid_cont .boundry .thor {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 0;
    left: 0;
  }
  body .game_start_container .grid_cont .boundry .thanos {
    position: absolute;
    width: 70px;
    height: 70px;
    bottom: 0;
    right: 0;
    z-index: 0;
  }
  body .game_start_container .grid_cont .boundry .blast {
    position: absolute;
    display: none;
    width: 100px;
    height: 100px;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
}/*# sourceMappingURL=index.css.map */