@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

* body {
  position: relative;
  background: url("/static/images/bg1.png");
  background-size: cover;
  background-repeat: no-repeat;
}

* body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-top: 102px;
}

* body .container .correct {
  color: green;
}

* body .container .mistake {
  color: red;
}

* body .container .inbuild_cont {
  border: 0px solid white;
  width: 1200px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.58);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 31px;
  text-align: center;
  word-break: break-all;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #000000;
}

* body .container .input_field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

* body .container .input_field input {
  width: 900px;
  margin-top: 30px;
  margin-right: 300px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 59px;
  line-height: 69px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 4px solid black;
  background: rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.3);
  color: #FFFFFF;
}

* body .container .input_field .timer {
  width: 288px;
  height: 78px;
  margin-top: 30px;
  margin-left: -300px;
  border: 4px solid black;
  background: rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.3);
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 59px;
  line-height: 69px;
  text-align: center;
  color: #000000;
  background: -webkit-gradient(linear, left top, right top, from(#A3BDED), to(#6991C7));
  background: linear-gradient(90deg, #A3BDED 0%, #6991C7 100%);
}

* body .container .button {
  margin: 30px;
  width: 246px;
  height: 80px;
  background: -webkit-gradient(linear, left top, right top, from(#A3BDED), to(#6991C7));
  background: linear-gradient(90deg, #A3BDED 0%, #6991C7 100%);
  border: 5px solid black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 53px;
  line-height: 86px;
  text-align: center;
  letter-spacing: 0.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  cursor: pointer;
}

* body .container .restart_game {
  margin: 10px;
  margin-top: -100px;
}

* body .container .result_cont {
  display: none;
  margin-top: 40px;
  width: 500px;
  height: 300px;
  background: -webkit-gradient(linear, left top, right top, from(#CFD9DF), to(#E2EBF0));
  background: linear-gradient(90deg, #CFD9DF 0%, #E2EBF0 100%);
}

* body .container .result_cont .heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 73px;
  line-height: 86px;
  text-align: center;
  color: #000000;
  background: -webkit-gradient(linear, left top, right top, from(#7DE2FC), to(#B9B6E5));
  background: linear-gradient(90deg, #7DE2FC 0%, #B9B6E5 100%);
}

* body .container .result_cont ul {
  margin-top: 30px;
}

* body .container .result_cont ul li {
  list-style-type: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 52px;
  text-align: center;
}

* body .container .result_cont ul li h1 {
  display: inline;
  font-size: 30px;
  margin-left: 10px;
}

* body .container .result_cont ul li #wpm {
  font-size: 50px;
  font-weight: bolder;
}

* body .container .result_cont ul li #result_currect_word {
  color: green;
}

* body .container .result_cont ul li #result_wrong_word {
  color: red;
}

* body .container .result_cont ul .wpm {
  font-size: 50px;
  font-weight: bolder;
  color: blue;
}

@media only screen and (max-width: 1200px) {
  /*Tablets [601px -> 1200px]*/
  body {
    position: relative;
    background: url("/static/images/bg_mini.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  body .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    margin-top: 102px;
  }
  body .container .correct {
    color: green;
  }
  body .container .mistake {
    color: red;
  }
  body .container .inbuild_cont {
    border: 0px solid white;
    width: 90%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.58);
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    text-align: center;
    word-break: break-all;
    white-space: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    color: #000000;
  }
  body .container .input_field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    height: 10%;
  }
  body .container .input_field input {
    width: 70%;
    height: 10%;
    margin-top: 30px;
    margin-right: 300px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 1.9rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    border: 4px solid black;
    background: rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
  }
  body .container .input_field .timer {
    width: 288px;
    height: 4.5vh;
    position: relative;
    border: 4px solid black;
    background: rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.3);
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 1.9rem;
    color: #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: -webkit-gradient(linear, left top, right top, from(#A3BDED), to(#6991C7));
    background: linear-gradient(90deg, #A3BDED 0%, #6991C7 100%);
  }
  body .container .button {
    width: 20%;
    background: -webkit-gradient(linear, left top, right top, from(#A3BDED), to(#6991C7));
    background: linear-gradient(90deg, #A3BDED 0%, #6991C7 100%);
    border: 5px solid #000000;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 80px #FFFFFF;
            box-shadow: 0px 0px 80px #FFFFFF;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400));
    text-align: center;
    letter-spacing: 0.1em;
    color: black;
    cursor: pointer;
  }
  body .container .restart_game {
    margin: 10px;
    margin-top: 10px;
  }
  body .container .result_cont {
    display: none;
    margin-top: 40px;
    width: 50%;
    height: 30%;
    background: -webkit-gradient(linear, left top, right top, from(#CFD9DF), to(#E2EBF0));
    background: linear-gradient(90deg, #CFD9DF 0%, #E2EBF0 100%);
  }
  body .container .result_cont .heading {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400));
    text-align: center;
    color: #000000;
    background: -webkit-gradient(linear, left top, right top, from(#7DE2FC), to(#B9B6E5));
    background: linear-gradient(90deg, #7DE2FC 0%, #B9B6E5 100%);
  }
  body .container .result_cont ul {
    margin-top: 3%;
  }
  body .container .result_cont ul li {
    list-style-type: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400));
    text-align: center;
  }
  body .container .result_cont ul li h1 {
    display: inline;
    font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400));
    margin-left: 10px;
  }
  body .container .result_cont ul li #wpm {
    font-weight: bolder;
    font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400));
  }
  body .container .result_cont ul li #result_currect_word {
    color: green;
  }
  body .container .result_cont ul li #result_wrong_word {
    color: red;
  }
  body .container .result_cont ul .wpm {
    font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400));
    font-weight: bolder;
    color: blue;
  }
}
/*# sourceMappingURL=index.css.map */