@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
    padding: 0;
    background: url("/static/images/bg.jpg"), #FFFFFF;
    background-size: auto;
    // overflow: hidden;
    font-size: 100%;

    .content_box{
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        .heading{
            position: relative;
            // width: 323px;
            // height: 61px;
            
            font-family: "Roboto";
            font-style: normal;
            font-weight: normal;
            font-size: 4em;
            line-height: 61px;
            /* identical to box height */
    
            text-align: center;
            letter-spacing: 0.39em;
    
            color: #070000;
            background: transparent;
        }
        .container_main{
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            .container_one , .container_two{
                position: relative;
                
                // background: #D89A9A;      
                
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                
                
                .card_img_one, .card_img_two{
                    position: relative;
                    width:  35%;
                    // height: 50%;
                    border-radius: 10px;
                    background: transparent;
                    
                }
                .name_one ,.name_two{
                    position: relative;
                    
                    font-family: "Roboto";
                    font-style: normal;
                    font-weight: normal;
                    font-size: 3em;
                    line-height: 50px;
                    /* identical to box height */
                    
                    text-align: center;
                    
                    color: #070000;
                    background: transparent;
                    
                }
                .score_one ,.score_two{
                    position: relative;


                    font-size: 4em;
                    background: transparent;
                    
                    font-family: "Roboto";
                    font-style: normal;
                    font-weight: bolder;
                    line-height: 82px;
                    text-align: center;
                    text-shadow: 1px 1px 5px green;
                    color: white;        
                }   
                #shuffle1_cont ,   #shuffle2_cont{
                    position: relative;
                    display: none;
                    margin-bottom: 10%;
                    justify-content: center;
                    z-index: 1000;
                    background: transparent;
                    #shuffle1 , #shuffle2
                    {
                        position: relative;
                        width:  35%;
                        z-index: 100;
                        background: transparent;
                    }
                }
                #shuffle1_cont:hover ,  #shuffle2_cont:hover{
                    background: rgba(0,0,0,0.22);
                }
            }
    
            .container_mid{
                position: relative;
                width: 100%;
                // border: 5px solid red;
                display: flex;
                align-items: center;
                justify-content: center;

                .board{
        
                    position: relative;
                    width:  100%;
                    height: 100%;
                    // border: 3px solid black;
    
                    background: rgba(0, 0, 0, 0.05);
                    border-radius: 31px;
                    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    z-index: 100;
        
                    .board_img{
                        position: relative;
                        width:  40%;
                        background: transparent;
                        
                    }
                    .board_button{
                        position: relative;
                        width:  50%;
                        height: 20%;
                        margin-top: 20px;
                        
                        background: #070000;
                        border-radius: 6px;    
                        
                        
        
                        font-family: "Roboto";
                        font-style: normal;
                        font-weight: normal;
                        font-size: 2em;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        letter-spacing: 0.2em;
        
                        color: #FFFFFF;
                        cursor: pointer;
                    }
                    .board_button:hover{
                        background: rgba(0,0,0,0.4);
                        color: black;
                    }
                    .img_board{
                        width: 30%;
                        background: transparent;
                    }
                    
                    .add{

                        position: relative;
                        top: 5%;
                        z-index: 100;
                        background: lightskyblue;
                        border-radius: 6px;
                        border:none;
                        font-family: "Roboto";
                        font-style: normal;
                        font-weight: normal;
                        font-size: 2.5em;
                        text-align: center;
                        letter-spacing: 0.2em;
            
                        cursor: pointer;
            
                    }
                    .add:hover{
                        background: rgba(0,0,0,0.3);
                        color:lightskyblue;
                    }
            
                    .board_len{
                        position: relative;
                        top: 18%;
                        font-size: 5em;
                        text-align: center;
                        color: black;
                        text-shadow: 1px 1px 5px black;
                        background: transparent;
                    }
                }
            }
    

            
            
        }

        .win_msg{
            position: relative;
            background:transparent;
            font-family: "Roboto",'Courier New', Courier, monospace;
            font-size: 5em;
            margin-top: 7%;
            text-align: center;
        }
        
        .win_gif{
            position: relative;
            width: 25%;
            background: transparent;
        }

        .restart_btn{
            margin-top: 7%;
            width:  20%;
            height: 10%;
            
            background: #000000;
            border-radius: 40px;
            
            font-family: "Roboto";
            font-style: normal;
            font-weight: normal;
            font-size: 4em;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            color: #FFFFFF;
        }
    }
}
@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
    body{
        font-size: 55%;
    }
}
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
    body{
        font-size: 55%;
        .content_box{
            
            .restart_btn{
                margin-top: 7%;
                width:  30%;
                height: 30%;
                
            }
            .container_main{
                position: relative;
        
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                .container_one , .container_two{
                    position: relative;
                    margin-top: 10%;
                    order: 2;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    
                    
                    .card_img_one, .card_img_two{
                        position: relative;
                        width:  15%;    
                        // height: 50%;
                        border-radius: 10px;
                        background: transparent;
                        
                    }
                    .name_one ,.name_two{
                        position: relative;
                        
                        font-family: "Roboto";
                        font-style: normal;
                        font-weight: normal;
                        font-size: 3em;
                        line-height: 50px;
                        /* identical to box height */
                        
                        text-align: center;
                        
                        color: #070000;
                        background: transparent;
                        
                    }
                    .score_one ,.score_two{
                        position: relative;
    
    
                        font-size: 4em;
                        background: transparent;
                        
                        font-family: "Roboto";
                        font-style: normal;
                        font-weight: bolder;
                        line-height: 82px;
                        text-align: center;
                        text-shadow: 1px 1px 5px green;
                        color: white;        
                    }   
                    #shuffle1_cont ,   #shuffle2_cont{
                        position: relative;
                        display: none;
                        margin-bottom: 10%;
                        justify-content: center;
                        z-index: 1000;
                        background: transparent;
                        #shuffle1 , #shuffle2
                        {
                            position: relative;
                            width:  15%;
                            z-index: 100;
                            background: transparent;
                        }
                    }
                    #shuffle1_cont:hover ,  #shuffle2_cont:hover{
                        background: rgba(0,0,0,0.22);
                    }
                }
        
                .container_mid{
                    position: relative;
                    width:  100%;
                    height: 100%;
                    order: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    .board{
            
                        position: relative;
                        padding: 10%;
                        // border: 3px solid black;
        
                        background: rgba(0, 0, 0, 0.05);
                        border-radius: 31px;
                        
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        z-index: 100;
            
                        .board_img{
                            position: relative;
                            width:  50%;
                            background: transparent;
                            
                        }
                        .board_button{
                            position: relative;
                            width:  50%;
                            height: 20%;
                            margin-top: 20px;
                            
                            background: #070000;
                            border-radius: 6px;    
                            
                            
            
                            font-family: "Roboto";
                            font-style: normal;
                            font-weight: normal;
                            font-size: 2em;
    
                            display: flex;
                            justify-content: center;
                            align-items: center;
    
            
                            color: #FFFFFF;
                            cursor: pointer;
                        }
                        .board_button:hover{
                            background: rgba(0,0,0,0.4);
                            color: white;
                        }
                        .img_board{
                            width: 40%;
                            background: transparent;
                        }
                        
                        .add{
    
                            position: relative;
                            top: 5%;
                            z-index: 100;
                            background: lightskyblue;
                            border-radius: 6px;
                            border:none;
                            font-family: "Roboto";
                            font-style: normal;
                            font-weight: normal;
                            font-size: 2.5em;
                            text-align: center;
                            letter-spacing: 0.2em;
                
                            cursor: pointer;
                
                        }
                        .add:hover{
                            background: rgba(0,0,0,0.3);
                            color:lightskyblue;
                        }
                
                        .board_len{
                            position: relative;
                            top: 5%;
                            font-size: 6em;
                            text-align: center;
                            color: gainsboro;
                            color: black;
                            background: transparent;
                        }
                    }
                }
        
    
                
                
            }
    
        }
    }
}
@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
    body{
        font-size: 55%;
        .content_box{
            .restart_btn{
                margin-top: 7%;
                width:  40%;
                height: 40%;
                
            }
        }
    }
}